{{- if .Values.networkPolicy.enabled -}}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "security-agent.fullname" . }}
  labels:
    {{- include "security-agent.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "security-agent.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        {{- if .Values.networkPolicy.allowIngressNamespaces }}
        {{- range .Values.networkPolicy.allowIngressNamespaces }}
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ . | quote }}
        {{- end }}
        {{- else }}
        - namespaceSelector: {}
        {{- end }}
      ports:
        - protocol: TCP
          port: {{ .Values.service.port }}
  egress:
    - to:
        {{- if .Values.networkPolicy.allowEgressCIDRs }}
        {{- range .Values.networkPolicy.allowEgressCIDRs }}
        - ipBlock:
            cidr: {{ . | quote }}
        {{- end }}
        {{- else }}
        - ipBlock:
            cidr: 0.0.0.0/0
        {{- end }}
      ports:
        - protocol: TCP
          port: 443
        - protocol: TCP
          port: 80
        - protocol: TCP
          port: 9443
        - protocol: TCP
          port: 4317
        - protocol: TCP
          port: 4318
{{- end }}
